@import url(http://fonts.googleapis.com/css?family=Bigelow+Rules);

body {
  padding: 50px;
  font: 14px "Bigelow Rules", Helvetica, Arial, sans-serif;

  background: #4d004d;
  color: white;
}

h1 {
  font-size: 10em;
}

a {
  color: #00B7FF;
}

#main{
  position: absolute;
  left: 0;
  top: 0;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
}

